<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <display-name>AlgoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Studentservletdata</display-name>
    <servlet-name>Studentservletdata</servlet-name>
    <servlet-class>Studentservletdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentservletdata</servlet-name>
    <url-pattern>/Studentservletdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sadg</display-name>
    <servlet-name>sadg</servlet-name>
    <servlet-class>sadg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sadg</servlet-name>
    <url-pattern>/sadg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newfile11</display-name>
    <servlet-name>Newfile11</servlet-name>
    <servlet-class>Newfile11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newfile11</servlet-name>
    <url-pattern>/Newfile11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualView</display-name>
    <servlet-name>IndividualView</servlet-name>
    <servlet-class>IndividualView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualView</servlet-name>
    <url-pattern>/IndividualView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllStudentView</display-name>
    <servlet-name>AllStudentView</servlet-name>
    <servlet-class>AllStudentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllStudentView</servlet-name>
    <url-pattern>/AllStudentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyStudent</display-name>
    <servlet-name>ModifyStudent</servlet-name>
    <servlet-class>ModifyStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyStudent</servlet-name>
    <url-pattern>/ModifyStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginInsert</display-name>
    <servlet-name>LoginInsert</servlet-name>
    <servlet-class>LoginInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginInsert</servlet-name>
    <url-pattern>/LoginInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginvalidation</display-name>
    <servlet-name>Loginvalidation</servlet-name>
    <servlet-class>Loginvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginvalidation</servlet-name>
    <url-pattern>/Loginvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifystu_rollno</display-name>
    <servlet-name>Modifystu_rollno</servlet-name>
    <servlet-class>Modifystu_rollno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifystu_rollno</servlet-name>
    <url-pattern>/Modifystu_rollno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>whitecardInsertion</display-name>
    <servlet-name>whitecardInsertion</servlet-name>
    <servlet-class>whitecardInsertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>whitecardInsertion</servlet-name>
    <url-pattern>/whitecardInsertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhitecardView</display-name>
    <servlet-name>WhitecardView</servlet-name>
    <servlet-class>WhitecardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhitecardView</servlet-name>
    <url-pattern>/WhitecardView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regpswdval</display-name>
    <servlet-name>Regpswdval</servlet-name>
    <servlet-class>Regpswdval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regpswdval</servlet-name>
    <url-pattern>/Regpswdval</url-pattern>
  </servlet-mapping>
</web-app>